---
    import BackgroundImage from "./BackgroundImage.astro"
    import TitleLogo from "./TitleLogo.astro";
    import BoxersImages from "./BoxersImages.astro"
    import InfoData from "./InfoData.astro"
    import BoxersVS from "./BoxersVS.astro";
---

<div>
    <BoxersVS></BoxersVS>
    <BackgroundImage></BackgroundImage>
    <TitleLogo></TitleLogo>
    <BoxersImages></BoxersImages>
    <InfoData></InfoData>
</div>

